<h1>Friends</h1>

<div id="friends container-sm">
  <div class="row gx-4">
    <% @friends.each do |friend| %>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <%= render friend %>
            <p>
              <%= link_to "Show this friend", friend, class:"btn btn-info" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "New friend", new_friend_path, class:"btn btn-primary my-4"%>
